body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    text-align: center;
    padding: 8px;
}

img {
    max-width: 8%;
    height: auto;
}

video {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0px
    
}

div {
  background-color: #000000;
  
  width:500px;
  margin: auto;
}

div h2 {
  color: #ffffff;
  text-align: center;
  padding: 3px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
